.loginContainer {
    padding: 2rem;
}

.botonera {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonBotonera {
    background-color: var(--verde3);
    border: none;
    color: white;
    padding: 0.55rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 500;
    min-width: 8rem;
}

.botonBotonera:hover {
    background-color: var(--verde2);
}

.successCard {
    padding: 1.5rem, 5rem;
}